<section class="" style="background-color: #000; height: calc(100vh + 50px)">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img [src]="regVictor" class="img-fluid" alt="Reg image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form
          [formGroup]="registerForm"
          #registerFormDetails="ngForm"
          (ngSubmit)="onSubmit(registerFormDetails)"
        >
          <h1 class="text-white fw-bold text-center mb-6">Sign up</h1>
          <div class="row">
            <div class="col-md-6 mb-4">
              <mdb-form-control>
                <input
                  mdbInput
                  type="text"
                  id="fname"
                  class="form-control form-control-lg text-white"
                  formControlName="fname"
                  required
                />
                <label mdbLabel class="form-label text-white" for="fname"
                  >First name</label
                >
                <mdb-error
                  *ngIf="registerFormDetails.submitted"
                  style="margin-top: 2px"
                >
                  <span
                    *ngIf="rForm?.['fname']?.errors?.['required']"
                    translate
                  >
                    First name is required
                  </span>
                </mdb-error>
              </mdb-form-control>
            </div>
            <div class="col-md-6 mb-4">
              <mdb-form-control>
                <input
                  mdbInput
                  type="text"
                  id="lname"
                  class="form-control form-control-lg text-white"
                  formControlName="lname"
                  required
                />
                <label mdbLabel class="form-label text-white" for="lname"
                  >Last name</label
                >
                <mdb-error
                  *ngIf="registerFormDetails.submitted"
                  style="margin-top: 2px"
                >
                  <span
                    *ngIf="rForm?.['lname']?.errors?.['required']"
                    translate
                  >
                    Last name is required
                  </span>
                </mdb-error>
              </mdb-form-control>
            </div>
          </div>
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="text"
              id="address"
              class="form-control form-control-lg text-white"
              formControlName="address"
              required
            />
            <label mdbLabel class="form-label text-white" for="address"
              >Address</label
            >
            <mdb-error
              *ngIf="registerFormDetails.submitted"
              style="margin-top: 2px"
            >
              <span *ngIf="rForm?.['address']?.errors?.['required']" translate>
                Address is required
              </span>
            </mdb-error>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="tel"
              id="phoneNumber"
              class="form-control form-control-lg text-white"
              formControlName="phoneNumber"
              required
            />
            <label mdbLabel class="form-label text-white" for="phoneNumber"
              >Mobile no</label
            >
            <mdb-error
              *ngIf="registerFormDetails.submitted"
              style="margin-top: 2px"
            >
              <span
                *ngIf="rForm?.['phoneNumber']?.errors?.['required']"
                translate
              >
                Mobile no is required
              </span>
              <span
                *ngIf="rForm?.['phoneNumber']?.errors?.['invalidPhoneNumberFormat']"
                translate
              >
                Enter a valid Mobile Number
              </span>
            </mdb-error>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="email"
              id="form3Example99"
              class="form-control form-control-lg text-white"
              formControlName="email"
              required
            />
            <label mdbLabel class="form-label text-white" for="email"
              >Email address</label
            >
            <mdb-error
              *ngIf="registerFormDetails.submitted"
              style="margin-top: 2px"
            >
              <span *ngIf="rForm?.['email']?.errors?.['required']" translate>
                Email is required
              </span>
              <span
                *ngIf="rForm?.['email']?.errors?.['invalidEmailFormat']"
                translate
              >
                Enter a valid Email
              </span>
            </mdb-error>
          </mdb-form-control>

          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="password"
              id="password"
              class="form-control form-control-lg text-white"
              formControlName="password"
              required
            />
            <label mdbLabel class="form-label text-white" for="password"
              >Password</label
            >
            <mdb-error
              *ngIf="registerFormDetails.submitted"
              style="margin-top: 2px"
            >
              <span *ngIf="rForm?.['password']?.errors?.['required']" translate>
                Password is required
              </span>
            </mdb-error>
          </mdb-form-control>

          <!-- Submit button -->
          <button
            type="submit"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-primary btn-lg btn-block"
          >
            Sign up
          </button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <button class="gsi-material-button btn-lg btn-block">
            <div class="gsi-material-button-state"></div>
            <div class="gsi-material-button-content-wrapper">
              <div class="gsi-material-button-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 48 48"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  style="display: block"
                >
                  <path
                    fill="#EA4335"
                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                  ></path>
                  <path
                    fill="#4285F4"
                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                  ></path>
                  <path
                    fill="#FBBC05"
                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                  ></path>
                  <path
                    fill="#34A853"
                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                  ></path>
                  <path fill="none" d="M0 0h48v48H0z"></path>
                </svg>
              </div>
              <span class="gsi-material-button-contents"
                >Sign up with Google</span
              >
              <span style="display: none">Login with Google</span>
            </div>
          </button>
          <a
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-primary btn-lg btn-block"
            style="background-color: #3b5998"
            href="#!"
            role="button"
          >
            <i class="fab fa-facebook-f me-2"></i>Sign up with Facebook
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
