<div class="sidebar-container">
    <div class="header mb-2 ">
      <h3 class="header">Drivers Management</h3>
      </div>
  <div class="mat-elevation-z8">
      <mat-form-field class="seachFeild">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilterOrder($event)" placeholder="Ex. Name, Address" #input>
        </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- User ID Column -->
          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="user_id"> User ID </th>
            <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
          </ng-container>
        
          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
        
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
        
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button  class="btn btn-link btn-sm btn-rounded common-color" (click)="assignOrder(element)">Assign</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        
    </div>
    
  </div>